## Data Input and Output

# For SQL, We need to install the following:
* conda install sqlalchemy
* conda install 1xml
* conda install html5lib
* conda install BeautifulSoup4

In [4]:
import pandas as pd

In [6]:
pwd

'C:\\Users\\PaballoPholo\\Documents\\Resources\\Py-DS-ML-Bootcamp-master\\Refactored_Py_DS_ML_Bootcamp-master\\03-Python-for-Data-Analysis-Pandas'

In [7]:
#Reading the CSV files
pd.read_csv('example.csv')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [8]:
#Saving your data to a variable
df = pd.read_csv('example.csv')

In [9]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [10]:
#Writing to a CSV
df.to_csv('My_Output',index=False)

In [12]:
pd.read_csv('My_Output')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15